* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 28px;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	background-color: hsl(244, 67%, 17%);
}

.ie-upgrade-container {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 32px;
	color: #ffffff;
	background-color: #1ebbee;
	padding: 3em 1em 1em 1em;
}
.ie-upgrade-link {
	margin: 2em 0em;
	padding: 0 1em;
	color: #1ebbee;
	background-color: hsl(244, 67%, 17%);
	font-weight: bold;
	text-align: center;
	display: block;
	width: 100%;
	height: 2em;
	line-height: 2em;
	text-transform: uppercase;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#nav_bar {
	position: fixed;
	top: 0px;	
	width: 90%;
	height: 3.5em;
	background-color: hsl(234, 52%, 36%);
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 5;
}

#title{
	color: white;
	font-size: larger;
	float: left;
}

#page_selection {
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	justify-content: space-around;
}

#page_selection * {
	padding: 0.2ex;
	margin-left: 5px;
	margin-right: 5px;
}

#page_selection button:disabled {
	--bg : hsl(243, 8%, 49%);
	background-color: var(--bg);
	padding: 5px;
	border: 0px;
	box-shadow: 0px;
	color: hsl(240, 16%, 89%);
}

#data_container {
	width: 100%;
	position: relative;
	margin-top: 10.5em;
	background-color: hsl(234, 52%, 36%);
	color: rgb(180, 186, 197);
	z-index: 3;
}

#data_container th {
	position: sticky;
	top: 10.5em;
	z-index: 4;
	background-color: hsl(234, 52%, 36%);
}

#data_container th button {
	width: 100%;
	background-color: transparent;
	color:  rgb(180, 186, 197);
	border: none;
}

#data_container th button:hover {
	background-color: hsla(0, 0%, 93%, 0.089);
}

#data_container th button:first-of-type {
	border-bottom: 1px solid rgb(180, 186, 197);
}

#data_container tr:nth-child(even){
	background-color: hsla(0, 0%, 93%, 0.089);
}

#data_container tr td:first-of-type{
	display: flex;
	justify-content: center;
	align-items: center;
}
#data_container tr td input{
	width: 1em;
	height: 1em;
}
#filter_container {
	position: fixed;
	top: 3.5em;
	padding-top: 0.5em;
	-webkit-backdrop-filter: blur(3px);
	padding-bottom: 0.5em;
	background-color: hsla(234, 69%, 34%, 0.781);
	display: flex;
	width: 90%;
	height: 7em;
	color: hsl(229, 18%, 76%);
	align-items: flex-start;
	justify-content: space-around;
	z-index: 5;
}

#filter_container select{
	height: auto;
	background-color: hsl(234, 52%, 36%);
	color: hsl(229, 18%, 76%);
	border: 0px;
	overflow: hidden;
	
}

#filter_container select *:checked{
background-color: hsla(0, 0%, 93%, 0.089);
border-left: 5px solid white;
padding-left: 1ex;
}
#filter_container select *{
	border-left: 5px solid transparent;
	padding-left: 1ex;
	}
#filter_container div{
	background-color: hsl(234, 52%, 36%);
	padding: 0.5em;	
	max-width: 15%;
}

.text_table {
	text-align: center;
}

.number_table {
	text-align: right;
}

#process_options_container {
	width: 100%;
	position: relative;
	margin-top: 3.5em;
	background-color: hsla(234, 69%, 34%, 0.781);
	color: rgb(180, 186, 197);
	padding-left: 10%;
	z-index: 4;
	line-height: 1.8em;
	padding-bottom: 1em;
}


.selection_option{
	border-radius: 0.5em;
	background-color: hsl(234, 52%, 36%);
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

#process_options_container hr{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 10%;
}


.process_selector{
	margin-top: 0px;
	height: 1.5em;
	padding-bottom: 0.25em;
}

.process_selector input{
	padding-left: 0.25em;
	width: 1em;
	height: 1em;
}

.process_selector span{
	padding-left: 0.5em;
	height: 1em;
	font-size: 1.2em;
}

#selected_testdata_list{
	background-color: hsla(234, 69%, 34%, 0.781);
	color: hsl(240, 16%, 89%);
}

.testdata_container{
	background-color: hsl(234, 52%, 36%);
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.testdata_container h1:first-of-type {
	font-size: 50px;
	font-weight: 300;
}

.testdata_container tr:nth-child(even){
	background-color: hsla(0, 0%, 93%, 0.089);
	font-size: 50px;
	font-weight: 300;
}

.testdata_container td{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.testdata_top {
	display: flex;
	justify-content: space-around;
}

.measurement_parameter{
	border-radius: 0.5em;
	background-color: hsla(234, 69%, 34%, 0.781);
	padding: 0.2em 0.6em 0.2em 0.6em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.testdata_terminals {
	margin-left: auto;
	margin-right: auto;
}

.testdata_terminals th{
	text-align: center;

}

.testdata_data th{
	text-align: center;

}
